html {
    /*text-align: center;*/
}

#content {
    /*background-color: #d3e5f2;*/
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open sans', sans-serif;
}

#avatar {
    /*width: 9em;*/
    height: 154px;
    border-radius: 50%;
}

.row {
    background-color: #eeeeee;
    display: flex;
}

.text-col {
    flex: 1;
    font-size: 24pt;
    line-height: auto;
}

h1 {
    padding: 0px;
    margin: 0px;
}

header {
    border-bottom: 1px solid;
}

.image-col {
    flex: 0;
}

#name_home {
    font-family: 'Open sans', sans-serif;
    font-size: 14pt;
    text-decoration: none;
    color: #0074D9;
}
