body {
    /*background-color: #d3e5f2;*/
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    background-color: seashell;
}

header {
    /* Have to set the larger font size for 
    name here to properly align navbar */
    font-size: 20pt;

    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

#first_initial {
    background: linear-gradient(90deg, seashell 95%, rgba(255,255,255,0) 100%);

    position: relative;
    z-index: 1;
}

#last_name_hidden {
    display: none;
    z-index: 0;

}

#name_home:hover #last_name_hidden {
    display: inline-block;


    animation-name: show_name;
    animation-duration: 1.0s;
    animation-delay: 1ms;
    animation-fill-mode: backwards;
}

@keyframes show_name {
    from {
        transform: translateX(-100%);
        /* opacity: 0%; */
    }
    to {
        transform: translateX(0);
        /* opacity: 100%; */
    }
}

a {
    color: #0074D9;
    text-decoration: none;
}

#pages a {
    color: hotpink;
    font-size: 16px;
}

#pages a:hover {
    background-color: hotpink;
    color: seashell;
    font-size: 16px;
}

main {
    text-align: left;
    margin: 1em;
}

.snow {
    animation-name: spin;
    animation-duration: 20.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0.0turn); 
    }
    100% {
        transform: rotate(1.0turn);
    }
}